@media only screen and (min-width: 0px) and (max-width: 567px){
.mid-section h1{
font-size: 30px;
}
.news-items h3{
padding-top: 10px;
font-size: 15px;
line-height: 24px;
letter-spacing: 1.8px !important;
}
}